@if (listDetails && listDetails.length > 0){
    <section class=" w-75 mx-auto shadow my-4 p-3 rounded-4">

        <h2 class="text-center mt-2 fw-bold text-main">Wish  List </h2>
        
      
        @for (list of listDetails ; track $index ){
        <div class="row mb-1 border-bottom py-2">
            <div class="col-md-2">
                <img [src]="list.imageCover" class="w-100" [alt]="list.title">
            </div>
            <div class="col-md-10 pt-5 d-flex align-items-center justify-content-between">
                <div>
                    <h3 class="h5">{{list.title |cutText:5}}</h3>
                    <p class="text-main m-1">Price : {{list.price | currency}}</p>
                    <button (click)="removeItem(list._id)" class="btn btn-danger"><i
                            class="fa-solid fa-trash-can  mx-1"></i>Remove
                    </button>
                </div>
                <button (click)="addToCart(list.id)" class="btn-main d-block ms-auto my-2"> Add to cart <i class="fas fa-cart-shopping mx-2"></i>
                

                </button>
            </div>
            
        </div>
      
        }
      
      
        
      
      </section>
}
 @else {
    <section class=" w-75 mx-auto shadow my-4 p-5 rounded-4">

      
      <h1 class="text-center text-main fw-bold text-capitalize">your wishlist is empty </h1>
        
      
      </section>
}
