<section class="shadow p-3 my-3 rounded-3 w-50 mx-auto">
    <h2 class="text-main my-2">Forget Password </h2>
  
    @if (step == 1) { 
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <label for="email">Email : </label>
        <input id="email" type="email" class="form-control mt-2" placeholder="Email" formControlName="email">
        @if(verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched ){
        <div class="alert alert-danger">
            @if (verifyEmail.get('email')?.getError('required')) { <p class="m-0">Email is required</p>
            }
            @else if (verifyEmail.get('email')?.getError('email')) {
            <p class="m-0"> Enter a valid email</p>

            }

        </div>
        }
        <button [disabled]="verifyEmail.invalid || isLoading"  type="submit" class="btn-main d-block ms-auto my-2 " type="submit">
            Verify Email
         @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
         }
        </button>
        
        
    </form>
   }
   
   @else if (step == 2) {
    <form [formGroup]="verifyCode"  (ngSubmit)="verifyCodeSubmit()">
        <label for="resetCode">Reset Code : </label>
        <input id="resetCode" type="text" class="form-control" placeholder="Reset Code" formControlName="resetCode">
        @if(verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched ){
        <div class="alert alert-danger">
            @if (verifyCode.get('resetCode')?.getError('required')) { <p class="m-0">Code is required</p>
            }
            @else if (verifyCode.get('resetCode')?.getError('pattern')) {
            <p class="m-0"> Enter a valid Code</p>

            }

        </div>
        }
        <button [disabled]="verifyEmail.invalid || isLoading"  type="submit" class="btn-main d-block ms-auto my-2 " type="submit">
            Verify Code
         @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
         }
        </button>
        
        
    </form>
   }
  
    @else if (step == 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="changePasswordSubmit()">
          
            <div class="my-3">
                <label for="email">Email : </label>
                <input readonly id="email" type="email" class="form-control mt-2 mt-2" placeholder="Email" formControlName="email">
                @if(resetPassword.get('email')?.errors && resetPassword.get('email')?.touched ){
                <div class="alert alert-danger">
                    @if (resetPassword.get('email')?.getError('required')) { <p class="m-0">Email is required</p>
                    }
                    @else if (resetPassword.get('email')?.getError('email')) {
                    <p class="m-0"> Enter a valid email</p>
    
                    }
    
                </div>
                }
            </div>
            <div class="my-3">
                <label for="newPassword">Password : </label>
                <input id="newPassword" type="password" class="form-control mt-2" placeholder="New Password" formControlName="newPassword">
                @if(resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched ){
                    <div class="alert alert-danger">
                        @if (resetPassword.get('newPassword')?.getError('required')) { <p class="m-0">Password is required</p>
                        }
                        @else if (resetPassword.get('newPassword')?.getError('pattern')) {
                        <p class="m-0"> Enter a valid password (min 6 characters)</p>
        
                        }
        
                    </div>
                    }
            </div>
            <button [disabled]="verifyEmail.invalid || isLoading"  type="submit" class="btn-main d-block ms-auto my-2 " >
               Change Password
             @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
             }
            </button>
            
            
        </form>
    }
    
    
</section>
